<%- include('../../block/header') %>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center mb-4">
        <a href="<%= APP_URL %>penelitian" class="btn btn-sm btn-primary shadow-sm">Kembali</a>
    </div>
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 text-gray-800">Form Tambah Penelitian</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form id="submit_proposal">
                <div class="form-group row">
                    <label for="nama_proposal" class="col-sm-2 col-form-label">Nama Proposal</label>
                    <div class="col-sm-10">
                        <input id="nama_proposal" name="nama_proposal" type="text" class="form-control"
                               placeholder="Masukkan Nama Proposal ..." required value="Proposal Test">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="biaya" class="col-sm-2 col-form-label">Biaya</label>
                    <div class="col-sm-10 input-group-prepend">
                        <span class="input-group-text"
                              style="border-bottom-right-radius: 0; border-top-right-radius: 0">Rp</span>
                        <input type="text" class="form-control number ribuan" id="biaya" data-id="biaya-value"
                               placeholder="Masukan Biaya ..." value="0"
                               style="border-bottom-left-radius: 0; border-top-left-radius: 0" required>
                        <input type="hidden" class="form-control number" id="biaya-value" name="biaya" value="0">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="periode_awal">Periode:</label>
                    <div class="col-sm-5">
                        <input type="text" name="periode_awal" class="form-control month-picker" id="periode_awal"
                               placeholder="Periode Awal" required value="March 2024">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" required name="periode_akhir" class="form-control month-picker"
                               id="periode_akhir" placeholder="Periode Akhir" value="July 2024">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="kategori">Kategori:</label>
                    <div class="col-sm-10">
                        <select type="text" name="kategori" class="form-control selectpicker" id="kategori"
                                data-live-search="true" required>
                            <option value="">- Pilih Kategori -</option>
                            <% for (const {nama, id} of kategori) { %>
                                <option value="<%= id %>"> <%= nama %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="subkategori">Sub Kategori:</label>
                    <div class="col-sm-10">
                        <select type="text" name="subkategori" class="form-control selectpicker" id="subkategori"
                                data-live-search="true" readonly required>
                            <option value="">- Pilih Sub Kategori -</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label for="file_proposal">1. File Proposal</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file_proposal" id="file_proposal"
                                   required>
                            <label class="custom-file-label" for="file_proposal">Upload File</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label for="surat_perjanjian_kerjasama">2. Surat Perjanjian Kerjasama</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="surat_perjanjian_kerjasama"
                                   id="surat_perjanjian_kerjasama" disabled>
                            <label class="custom-file-label" for="file_proposal">Upload File</label>
                        </div>
                        <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label for="file_monef">3. File Monef</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file_monef" id="file_monef" disabled>
                            <label class="custom-file-label" for="file_proposal">Upload File</label>
                        </div>
                        <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label for="file_laporan_akhir">4. File Laporan Akhir</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file_laporan_akhir"
                                   id="file_laporan_akhir" disabled>
                            <label class="custom-file-label" for="file_proposal">Upload file</label>
                        </div>
                        <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Anggota Penelitian: </label>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-sm-12 col-form-label" for="list_dosen">Dosen:</label>
                        <div class="col-sm-12">
                            <select class="chosen-select form-control" name="list_dosen" id="list_dosen" multiple required>
                                <% for (const {id, nomor_induk_dosen, nama_dosen} of dosen) { %>
                                    <option value="<%= id %>"><%= nomor_induk_dosen %> - <%= nama_dosen %></option>
                                <% } %>
                            </select>
                        </div>
                        <label class="col-sm-12 col-form-label" for="dosen_ketua">Ketua Dosen:</label>
                        <div class="col-sm-12">
                            <select data-live-search="true" class="selectpicker form-control" name="dosen_ketua" id="dosen_ketua">
                                <option value="">- Pilih Ketua Dosen -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-12 col-form-label" for="list_mahasiswa">Mahasiswa:</label>
                        <div class="col-sm-12">
                            <select class="chosen-select form-control" name="list_mahasiswa" id="list_mahasiswa" multiple required>
                                <% for (const {id, nomor_induk_mahasiswa, nama_mahasiswa} of mahasiswa) { %>
                                    <option value="<%= id %>"><%= nomor_induk_mahasiswa %>
                                        - <%= nama_mahasiswa %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../block/footer') %>