<%- include('../../../block/header') %>
<div class="container-fluid">

    <div class="d-sm-flex align-items-center mb-4">
        <a href="<%= APP_URL %>kategori" class="btn btn-sm btn-primary shadow-sm">Kembali</a>
    </div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Master Subkategori <%= kategori.nama %></h1>
        <a href="<%= APP_URL %>kategori/detail/<%= kategori.id %>/tambah" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Tambah Subkategori</a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="subkategori-dataTable" width="100%" cellspacing="0"></table>
            </div>
        </div>
    </div>

</div>
<%- include('../../../block/footer') %>