<%- include('../../block/header') %>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center mb-4">
        <a href="<%= APP_URL %>penelitian" class="btn btn-sm btn-primary shadow-sm">Kembali</a>
    </div>
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 text-gray-800">Form Ubah Penelitian</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form id="ubah_proposal">
                <input type="hidden" name="id" value="<%= data.id %>">
                <div class="form-group row">
                    <label for="nama_proposal" class="col-sm-2 col-form-label">Judul Proposal</label>
                    <div class="col-sm-10">
                        <input id="nama_proposal" name="nama_proposal" type="text" class="form-control"
                               placeholder="Masukkan Judul Proposal ..." <%= data.status == "Batal" ? "readonly" : "" %>
                               required value="<%= data.nama_proposal %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="biaya_yang_diajukan" class="col-sm-2 col-form-label">Biaya Yang Diajukan</label>
                    <div class="col-sm-10 input-group-prepend">
                        <span class="input-group-text"
                              style="border-bottom-right-radius: 0; border-top-right-radius: 0">Rp</span>
                        <input type="text"
                               class="form-control number ribuan" <%= data.status == "Batal" ? "readonly" : "" %>
                               id="biaya_yang_diajukan" data-id="biaya_yang_diajukan-value"
                               placeholder="Masukan Biaya yang Diajukan ..."
                               value="<%= data.biaya_yang_diajukan.toLocaleString("id-ID") %>"
                               style="border-bottom-left-radius: 0; border-top-left-radius: 0" required>
                        <input type="hidden" class="form-control number" id="biaya_yang_diajukan-value"
                               name="biaya_yang_diajukan" value="<%= data.biaya_yang_diajukan %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="biaya_yang_disetujui" class="col-sm-2 col-form-label">Biaya Yang Disetujui</label>
                    <div class="col-sm-10 input-group-prepend">
                        <span class="input-group-text"
                              style="border-bottom-right-radius: 0; border-top-right-radius: 0">Rp</span>
                        <input type="text"
                               class="form-control number ribuan" <%= data.status == "Batal" ? "readonly" : "" %>
                               id="biaya_yang_disetujui" data-id="biaya_yang_disetujui-value"
                               placeholder="Masukan Biaya yang Disetujui ..."
                               value="<%= data.biaya_yang_disetujui.toLocaleString("id-ID") %>"
                               style="border-bottom-left-radius: 0; border-top-left-radius: 0" required>
                        <input type="hidden" class="form-control number" id="biaya_yang_disetujui-value"
                               name="biaya_yang_disetujui" value="<%= data.biaya_yang_disetujui %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="tipe_periode">Periode: </label>
                    <div class="col-sm-5">
                        <select type="text" name="tipe_periode" class="form-control selectpicker" id="tipe_periode"
                                <%= data.status == "Batal" ? "disabled" : "" %>
                                required>
                            <option value="">- Pilih Tipe Periode -</option>
                            <option value="periode_1" <%= moment(data.periode_awal).month() + 1 === 2 ? "selected" : "" %>>
                                Periode 1 (feb - juni)
                            </option>
                            <option value="periode_2" <%= moment(data.periode_awal).month() + 1 === 8 ? "selected" : "" %>>
                                Periode 2 (agustus - januari)
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" required name="periode_tahun"
                               class="form-control year-picker" <%= data.status == "Batal" ? "disabled" : "" %>
                               value="<%= moment(data.periode_awal).year() %>"
                               id="periode_akhir" placeholder="Tahun Periode">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="kategori">Kategori:</label>
                    <div class="col-sm-10">
                        <select type="text" name="kategori" class="form-control selectpicker" id="kategori"
                                data-live-search="true" required <%= data.status == "Batal" ? "disabled" : "" %>>
                            <option value="">- Pilih Kategori -</option>
                            <% for (const {nama, id} of kategori_list) { %>
                                <option value="<%= id %>" <%= id === data.kategori ? 'selected' : "" %> > <%= nama %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="subkategori">Sub Kategori:</label>
                    <div class="col-sm-10">
                        <select type="text" name="subkategori" class="form-control selectpicker" id="subkategori"
                                data-live-search="true" readonly
                                required <%= data.status == "Batal" ? "disabled" : "" %>>
                            <option value="">- Pilih Sub Kategori -</option>
                            <% for (const {nama, id} of subkategori_list) { %>
                                <option value="<%= id %>" <%= id === data.subkategori ? 'selected' : "" %> > <%= nama %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <label for="file_proposal">1. File Proposal</label>
                        <div class="custom-file">
                            <input type="file" accept=".pdf, .doc, .docx"
                                   class="custom-file-input" <%= data.status == "Batal" ? "disabled" : "" %>
                                   name="file_proposal" id="file_proposal">
                            <label class="custom-file-label"
                                   for="file_proposal"><%= list_proposal.file_proposal?.original_filename ?? "Upload file" %></label>
                        </div>
                        <% if (list_proposal.file_proposal?.file) { %>
                            <a href="<%= list_proposal.file_proposal?.file %>" target="_blank" class="small">Lihat
                                File</a>
                        <% } %>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label for="surat_perjanjian_kerjasama">2. Surat Perjanjian Kerjasama</label>
                        <div class="custom-file">
                            <input type="file" accept=".pdf, .doc, .docx" class="custom-file-input"
                                   name="surat_perjanjian_kerjasama"
                                    <%= !list_proposal.file_proposal?.file ? 'disabled' : '' %>
                                   id="surat_perjanjian_kerjasama" <%= data.status == "Batal" ? "disabled" : "" %>>
                            <label class="custom-file-label"
                                   for="file_proposal"><%= list_proposal.surat_perjanjian_kerjasama?.original_filename ?? 'Upload file' %></label>
                        </div>
                        <% if (list_proposal.surat_perjanjian_kerjasama?.file) { %>
                            <a href="<%= list_proposal.surat_perjanjian_kerjasama?.file %>" target="_blank"
                               class="small">Lihat File</a>
                        <% } else if (!list_proposal.file_proposal?.file) { %>
                            <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                        <% } %>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <label for="file_monef">3. File Monev</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept=".pdf, .doc, .docx"
                                   name="file_monef" <%= data.status == "Batal" ? "disabled" : "" %>
                                   id="file_monef" <%= !list_proposal.surat_perjanjian_kerjasama?.file ? 'disabled' : '' %>>
                            <label class="custom-file-label"
                                   for="file_proposal"><%= list_proposal.file_monef?.original_filename ?? 'Upload file' %></label>
                        </div>
                        <% if (list_proposal.file_monef?.file) { %>
                            <a href="<%= list_proposal.file_monef?.file %>" target="_blank"
                               class="small">Lihat File</a>
                        <% } else if (!list_proposal.surat_perjanjian_kerjasama?.file) { %>
                            <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                        <% } %>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label for="file_laporan_kemajuan">4. File Laporan Kemajuan</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept=".pdf, .doc, .docx"
                                   name="file_laporan_kemajuan" <%= data.status == "Batal" ? "readonly" : "" %>
                                   id="file_laporan_kemajuan" <%= list_proposal.surat_perjanjian_kerjasama?.original_filename ? '' : 'disabled' %> <%= data.status == "Batal" ? "disabled" : "" %>>
                            <label class="custom-file-label"
                                   for="file_proposal"><%= list_proposal.file_laporan_kemajuan?.original_filename ?? 'Upload file' %></label>
                        </div>
                        <% if (list_proposal.file_laporan_kemajuan?.file) { %>
                            <a href="<%= list_proposal.file_laporan_kemajuan?.file %>" target="_blank"
                               class="small">Lihat File</a>
                        <% } else if (!list_proposal.file_monef?.file) { %>
                            <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                        <% } %>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <label for="file_laporan_akhir">5. File Laporan Akhir</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept=".pdf, .doc, .docx"
                                   name="file_laporan_akhir" <%= data.status == "Batal" ? "readonly" : "" %>
                                   id="file_laporan_akhir" <%= list_proposal.file_laporan_kemajuan?.original_filename ? '' : 'disabled' %> <%= data.status == "Batal" ? "disabled" : "" %>>
                            <label class="custom-file-label"
                                   for="file_proposal"><%= list_proposal.file_laporan_akhir?.original_filename ?? 'Upload file' %></label>
                        </div>
                        <% if (list_proposal.file_laporan_akhir?.file) { %>
                            <a href="<%= list_proposal.file_laporan_akhir?.file %>" target="_blank"
                               class="small">Lihat File</a>
                        <% } else if (!list_proposal.file_laporan_kemajuan?.file) { %>
                            <span class="text-danger small">Harus upload file sebelumnya terlebih dahulu</span>
                        <% } %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ketua_penelitian" class="col-sm-2 col-form-label">Ketua Penelitian: </label>
                    <div class="col-sm-10">
                        <input id="ketua_penelitian" name="ketua_dosen_penelitian" type="text"
                               class="form-control input-dosen"
                               placeholder="Masukkan NIDN Dosen Ketua Penelitian" <%= data.status == "Batal" ? "disabled" : "" %>
                                <%= ketua_dosen_penelitian ? "readonly" : "" %>
                               required value="<%= data.ketua_dosen_penelitian %>">
                        <span class="small text-success">NIDN milik <%= data.nama_ketua_dosen_penelitian %></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Anggota Penelitian: </label>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6" id="list_dosen">
                        <label class="col-sm-12 col-form-label" for="list_dosen">Dosen:</label>
                        <div class="col-sm-12 row">
                            <%
                            if (list_dosen.length === 0) {
                            %>
                                <div class="col-sm-10">
                                    <input type="text" name="list_dosen[]" class="form-control input-dosen"
                                           placeholder="Masukan NIDN Anggota Dosen"
                                    >
                                    <span></span>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-outline-primary" id="add-dosen">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            <%
                            }
                            let iDosen = 0;
                                    for (const {nidn, nama_dosen} of list_dosen) {
                            %>
                                <div class="col-sm-10">
                                    <input type="text" name="list_dosen[]" class="form-control input-dosen"
                                           placeholder="Masukan NISN Dosen"
                                           value="<%= nidn %>" <%= data.status == "Batal" ? "disabled" : "" %>
                                    >
                                    <span class="small text-success">NIDN milik <%= nama_dosen %></span>
                                </div>
                                <div class="col-sm-2">
                                    <% if (data.status !== "Batal") { %>
                                        <% if (iDosen === 0) { %>
                                            <button type="button" class="btn btn-outline-primary" id="add-dosen">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        <% } else { %>
                                            <button type="button" class="btn btn-outline-danger delete-dynamic-form">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        <% } %>
                                    <% } %>
                                </div>
                            <%
                                iDosen++;
                            }
                            %>
                        </div>
                    </div>

                    <div class="col-sm-6" id="list_mahasiswa">
                        <label class="col-sm-12 col-form-label">Mahasiswa:</label>
                        <div class="col-sm-12 row">
                            <%
                            if (list_mahasiswa.length === 0) {
                            %>
                                <div class="col-sm-10">
                                    <input type="text" name="list_mahasiswa[]" class="form-control input-mahasiswa"
                                           placeholder="Masukan NIM Anggota Mahasiswa">
                                    <span></span>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-outline-primary" id="add-mahasiswa">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            <%
                            }
                            let iMahasiswa = 0;
                                    for (const {nim, nama_mahasiswa} of list_mahasiswa) {
                            %>
                                <div class="col-sm-12 row">
                                    <div class="col-sm-10">
                                        <input type="text" name="list_mahasiswa[]"
                                               class="form-control input-mahasiswa" <%= data.status == "Batal" ? "disabled" : "" %>
                                               placeholder="Masukan NIM Mahasiswa" value="<%= nim %>">
                                        <span class="small text-success">NIM milik <%= nama_mahasiswa %></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <% if (data.status !== "Batal") { %>
                                            <% if (iMahasiswa === 0) { %>
                                                <button type="button" class="btn btn-outline-primary"
                                                        id="add-mahasiswa">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            <% } else { %>
                                                <button type="button"
                                                        class="btn btn-outline-danger delete-dynamic-form">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            <%
                                iMahasiswa++;
                            }
                            %>
                        </div>
                    </div>
                </div>
                <% if (data.status !== "Batal") { %>
                    <button type="submit" class="btn btn-primary">Ubah</button>
                    <button type="button" class="btn btn-danger" data-id="<%= data.id %>" id="cancel-penelitian">
                        Batalkan
                        Penelitian
                    </button>
                <% } %>

            </form>
        </div>
    </div>
</div>

<%- include('../../block/footer') %>